body {
  background: #f8500f;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 83%;
  letter-spacing: -1.5%;
  font-size: 180px;

  margin-left: 80px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 28px;
  padding-bottom: 20px;
  line-height: 120%;
  margin-left: 9px;
}

h6 {
  font-family: "Bebas Neue", sans-serif;
  margin: 20px 0 0 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

hr {
  height: 0px;
  border: none;
  border-top: 2px solid;
  opacity: 100;
  margin-left: 40px;
  padding-bottom: 10px;
}

nav li {
  list-style: none;
}

.icon-bar a {
  display: block;
  padding: 5px;
  font-size: 12px;
}

#home-page {
  margin-left: 14px;
}

#work-page {
  margin-left: 16px;
}

#nav-bar-line {
  width: 18px;
  margin-left: 19px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#contact-page {
  margin-left: 15px;
}

#line {
  padding-left: 3px;
  padding-right: 5px;
}

.contact {
  margin-left: 40px;
  margin-top: 5px;
}

.contact-info {
  margin-top: 5px;
  margin-left: 40px;
}

.col-lg-3 {
  margin-left: 10px;
}

.col-lg-2 {
  margin-left: 20px;
}

#grid-container {
  margin-top: -50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#home-page-container {
  margin-right: 20px;
  margin-top: -30px;
}

#email {
  text-decoration: none;
  color: white;
}

#contact-email,
#contact-github {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

#connect-email,
#connect-github,
#connect-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-left: 250px;
}

#about-me {
  margin-left: 9px;
}

#work-body {
  background: #e7e7df;
}

#contact-body {
  background: #e7e7df;
}

#get-in-touch {
  margin-top: 50px;
}

#connect {
  margin-top: 310px;
  margin-right: -50px;
}

@media (max-width: 768px) {
  .col-lg-2 {
    display: none;
  }
  .col-lg-3 {
    width: 70%;
    order: 2;
    margin-left: 75px;
  }
  .col-lg-6 {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  h1 {
    font-size: 100px;
    padding-bottom: 20px;
  }

  h5 {
    font-size: 22px;
  }

  #about-me {
    font-size: 16px;
  }

  #home-page-container {
    margin-left: -30px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
