body {
  background: #f8500f;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  line-height: 83%;
  letter-spacing: -1.5%;
  font-size: 180px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.line {
  border-bottom: 1px solid black;
}

#email {
  text-decoration: none;
  color: white;
}

#contact-email,
#contact-github {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
