body {
  background: #f8500f;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  line-height: 83%;
  letter-spacing: -1.5%;
  font-size: 185px;
  margin-top: 90px;
  margin-left: 70px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 29px;
  padding-bottom: 20px;
  line-height: 120%;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

hr {
  height: 0px;
  border: none;
  border-top: 2px solid;
  opacity: 100;
  margin-left: 50px;
  padding-bottom: 10px;
}

.container {
  margin-right: 10px;
}

.contact {
  margin-left: 50px;
}

.contact-info {
  margin-left: 50px;
}

.line {
  border-bottom: 1px solid black;
}

.col-3 {
  margin-top: 90px;
}

.col-2 {
  margin-top: 90px;
}

#email {
  text-decoration: none;
  color: white;
}

#contact-email,
#contact-github {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
